body {
  background-color: #cfd8dc;
}
img {
  height: 50px;
  width: 50px;
}

.left {
  background-color: #455a64;
  width: 50vw;
  height: 100vh;
  position: fixed;
  text-align: center;
}
header {
}

.right {
  background-color: #cfd8dc;
  overflow: auto;
  position: absolute;
  width:50vw;
  right: 0;

}
h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 60px;
  font-weight: bold;
  margin-top: 30%;
  margin-bottom: 40px;

}
.title, .url{
  width: 90%;
  height: 30px;
  display: block;
  margin: 40px auto;
  outline: none;
}

.enter {
  width: 90%;
  height: 30px;
  display: block;
  background-color: #ffc107;
  margin: auto;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: white;
  border: none;
}

.enter:hover {
   background: #ffd773;
   text-decoration: none;
}
.title-result {
color: #455a64;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
padding-top:5px;
padding-bottom: 5px;
border-bottom: 1px solid #cfd8dc;
}

.url-result {
color: #607d8b;
font-family: 'Open Sans', sans-serif;
font-size: 16px;
padding-top:5px;
padding-bottom: 5px;
border-bottom: 1px solid #cfd8dc;
}

.url-result:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #ffc107;
}

.box {
  background-color: #ffffff;
  border: 1px solid #607d8b;
  margin: 20px 15px;
  padding:8px;
  width: 90%;
  height: 120px;
}

.read-button, .delete {
  outline: none;
  border: none;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  color: #455a64;
  /*border-bottom: 1px solid #455a64;*/
  text-decoration: underline #455a64;

}
p {
color: white;
font-size: 20px;
margin-bottom: 15px;
margin-top: -15px;
}

.read-button:hover, .delete:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #ffc107;
}
