body {
  background-color: #cfd8dc;
}

img {
  height: 50px;
  width: 50px;
}

.left {
  background-color: #455a64;
  width: 50vw;
  height: 100vh;
  position: fixed;
  text-align: center;
}

.right {
  background-color: #cfd8dc;
  overflow: auto;
  position: absolute;
  width:50vw;
  right: 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 55px;
  font-weight: 800;
  margin-top: 25%;
}

.title, .url, .enter, .clear {
  width: 90%;
  height: 30px;
  display: block;
  outline: none;
  font-family: 'Open Sans', sans-serif;
}

.title, .url {
  margin: 40px auto;
  font-size: 20px;
}

.enter, .clear {
  background-color: #ffc107;
  margin: auto;
  font-weight: 800;
  font-size: 16px;
  color: white;
  border: none;
}

.clear {
  margin-top:20px;
}

.enter:hover, .clear:hover{
  background: #ffd773;
  text-decoration: none;
}

.title-result, .url-result {
  font-family: 'Open Sans', sans-serif;
}

.title-result {
  color: #455a64;
  font-weight: 400;
  font-size: 20px;
  padding-top:5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cfd8dc;
}

.url-result {
  color: #607d8b;
  font-size: 16px;
  padding-top:15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cfd8dc;
}

.url-result:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  border-bottom: 1px solid #ffc107;
}

.box {
  background-color: #ffffff;
  border: 2px solid #607d8b;
  margin: 20px 15px;
  padding:8px;
  width: 90%;
  height: 115px;
}

.read-button, .delete {
  outline: none;
  border: none;
  background: rgba(0, 0, 0, 0);
  font-family: 'Open Sans', sans-serif;
  color: #455a64;
  border-bottom: 1px solid #cfd8dc;
  padding: 0;
  padding-top: 15px;
}

.delete {
  float:right;
}

.colorred {
  color: #f05a28;
  font-weight: 800;
}

.changeread {
  background-color: #f2f4f4;
}

p {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: -15px;
}

.read-button:hover, .delete:hover {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  border-bottom: 1px solid #ffc107;
}
.error, .linkcounter, .readcounter, .unreadcounter {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px 0;
}

.linkcounter {
  margin-top: 25px;
}
.readcounter {
  margin-bottom: 50px;
  padding-bottom: 30px;
}

@media screen and (max-width: 750px) {
  body {
    background: #455a64;
  }
  h1 {
    margin-top: 20%;
  }
  .left, .right {
    position: static;
    width: 100%;
    margin-bottom: -10%;
  }
  .right {
    background:
    display: flex;
    justify-content: top;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .box {
    width: 80%;
    margin: 10px auto;
  }
}
